{% include 'header.html' %}

    <h1>All Offerings
        <a href="{{ url_for('create_offering') }}"><button>Create New Offering </button></a>
    </h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Lesson</th>
                <th>Type</th>
                <th>Duration</th>
                <th>Location</th>
                <th>City</th>
                <th>Time Slots</th>
                <th>Delete Offering</th>
            </tr>
        </thead>
        <tbody>
            {% for offering in offered_classes %}
            <tr>
                <td>{{ offering.id }}</td>
                <td>{{ offering.lesson.name }}</td>
                <td>{{ offering.lesson.type }}</td>
                <td>{{ offering.lesson.duration }}</td>
                <td>{{ offering.location.name }}</td>
                <td>{{ offering.location.city }}</td>
                <td>
                    <ul>
                        <!-- Loop through the availabilities and display each time slot -->
                        {% for availability in offering.availabilities %}
                            <li>{{ availability.timeSlot.day.name }}: {{ availability.timeSlot.startTime }} - {{ availability.timeSlot.endTime }}</li>
                        {% endfor %}
                    </ul>
                    
                </td>
                <td>
                    <ul>
                            <li>
                                <form action="{{ url_for('delete_offering') }}" method="post" style="display:inline;">
                                    <input type="hidden" name="offering_id" value="{{ offering.id }}">
                                    <button type="submit">Delete Offering</button>
                                </form>
                            </li>
                    </ul>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </body>
</html>