{% include 'header.html' %}

    <h1>Classes Offered</h1>
    <table>
        <thead>
            <tr>
                <th>Location</th>
                <th>Lesson</th>
                <th>Date</th>
                <th>Time Slot</th>
                <th>Instructor</th>
                <th>Book Class</th>
            </tr>
        </thead>
        <tbody>
            {% for offered_class in offered_classes %}
            <tr>
                <td>{{ offered_class.location.name }}</td>
                <td>{{ offered_class.lesson.name }}</td>
                <td>{{ offered_class.date.name }}</td>
                <td>{{ offered_class.timeSlot }}</td>
                <td>{{ offered_class.instructor }}</td>
                <td>
                    <form action="{{ url_for('book_class') }}" method="post" style="display:inline;">
                        <input type="hidden" name="id" value="{{ offered_class.id }}">
                        <button type="submit">Book Class</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>