{% include 'header.html' %}

<h1>Classes Offered</h1>
<table>
    <thead>
        <tr>
            <th>Location</th>
            <th>Lesson</th>
            <th>Date</th>
            <th>Time Slot</th>
            <th>Instructor</th>
        </tr>
    </thead>
    <tbody>
        {% for offering in offered_classes %}
        <tr>
          
            <td>{{ offering.lesson.name }}</td>
            <td>{{ offering.instructor.name }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</body>
</html>
