{% include 'header.html' %}

    <h1>Your booked classes</h1>
    <table>
        <thead>
            <tr>
                <th>Location</th>
                <th>Lesson</th>
                <th>Instructor</th>
                <th>Date</th>
                <th>Time Slot</th>
            </tr>
        </thead>
        <tbody>
            {% for class in classes_taken %}
            <tr>
                <td>{{ class.offering.lesson.location.name }}</td>
                <td>{{ class.offering.lesson.name }}</td>
                <td>{{ class.offering.instructor.username}}</td>
                <td>{{ class.offering.schedule.time_slot.display_date() }}</td>
                <td>{{ class.offering.schedule.time_slot.display_time() }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
