<!-- header for all tabs -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Dave&Syd</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <nav>
                <div style="display: flex; align-items: center;">
                    <h2><a href="/">Home</a></h2>
                    <ul>
                        {% if session.get('accountType') == 'instructor' %}
                            <li><a href="/offerings">Offerings</a></li>
                            {% endif %}
                            {% if session.get('accountType') == 'admin' %}
                            <li><a href="/admin_account">Offerings</a></li>
                            {% endif %}
                            <li><a href="/classes_offered">Classes</a></li>
                    </ul>
                </div>
                <div class="right-section">
                    {% if session.get('currentAccount') %}
                    <p style="color: white;">Welcome, {{ session['currentAccount']['name'] }}
                        {% if session.get('accountType') == 'instructor' %}
                        <a href="{{ url_for('instructor_account') }}"><button>Your account </button></a>
                        {% endif %}
                    </p>
                    <a href="{{ url_for('logout') }}"><button>Logout</button></a>
                    {% else %}
                    <a href="/client_login"><button>Client log in</button></a>
                    <a href="/instructor_login"><button>Instructor log in</button></a>
                    <a href="/admin_login"><button>Admin log in</button></a>
                    {% endif %}
                </div>
            </nav>
        </header>