<!-- header for all tabs -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Dave&Syd</title>
    </head>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
    <body>
        <header>
            <nav>
                <h2><a href="/">Home</a></h2>
                <ul>
                    {% if session.get('accountType') == 'instructor' %}
                        <li><a href="/offerings">Offerings</a></li>
                        <li><a href="/classes_offered">Classes</a></li>
                    {% endif %}
                </ul>
            </nav>
            {% if session.get('currentAccount') %}
            <p>Welcome, {{ session['currentAccount']['name'] }} </p>
            <a href="{{ url_for('logout') }}"><button>Logout</button></a>
            {% else %}
            <a href="/instructor_login"><button>Instructor log in</button></a>
            {% endif %}
        </header>