{% include 'header.html' %}

        <form action="#" method="post">
            <p>Username:</p>
            <p><input type="text" name="username"/></p>
            <p>Password:</p>
            <p><input type="text" name="password"/></p>
            
            <p>Name:</p>
            <p><input type="text" name="name"/></p>
           
            
            <p>Phone Number:</p>
            <p><input type="text" name="phone"/></p>
            
            <p>Specialization:</p>
            <p><input type="text" name="specialization"/></p>
          
            <p><input type="submit" value="submit"/></p>
        </form>
    </body>
</html>