{% include 'header.html' %}

    <h1>Your Classes</h1>
    <table>
        <thead>
            <tr>
                <th>Location</th>
                <th>Lesson</th>
                <th>Date</th>
                <th>Time Slot</th>
                <th>Capacity</th>
            </tr>
        </thead>
        <tbody>
            {% for offered_class in my_classes %}
            <tr>
                <td>{{ offered_class.lesson.location.name }}</td>
                <td>{{ offered_class.lesson.name }}</td>
                <td>{{ offered_class.schedule.time_slot.display_date() }}</td>
                <td>{{ offered_class.schedule.time_slot.display_time() }}</td>
                <td>{{ offered_class.display_capacity() }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
