{% include 'header.html' %}

<h1>Lessons List</h1>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Lesson</th>
            <th>Type</th>
            <th>Location</th>
            <th>Take lesson</th>
            
        </tr>
    </thead>
    <tbody>
        {% for lesson in lessons %}
        <tr>
            <td>{{ lesson.lesson.lesson_id }}</td>
            <td>{{ lesson.lesson.name }}</td>
            <td>{{ lesson.lesson.lesson_type }}</td>
            <td>{{ lesson.lesson.location.name }}</td>
            
            <td>
                <ul>
                    {% for schedule in lesson.schedules %}
                    <li>
                        {{ schedule.time_slot }}
                        {% if schedule.time_slot.isAvailable %}                     
                        <form action="{{ url_for('take_lesson') }}" method="post" style="display:inline;">
                            <input type="hidden" name="lesson_id" value="{{ lesson.lesson.lesson_id }}">
                            <input type="hidden" name="schedule_id" value="{{ schedule.schedule_id }}">
                            <button type="submit">Take Lesson</button>
                        </form>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</body>
</html>
