{% include 'header.html' %}

    <h1>Offerings List</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Lesson</th>
                <th>Type</th>
                <th>Duration</th>
                <th>Location</th>
                <th>City</th>
                <th>Time Slots (Availability)</th>
            </tr>
        </thead>
        <tbody>
            {% for offering in offerings %}
            <tr>
                <td>{{ offering.id }}</td>
                <td>{{ offering.lesson.name }}</td>
                <td>{{ offering.lesson.type }}</td>
                <td>{{ offering.lesson.duration }}</td>
                <td>{{ offering.location.name }}</td>
                <td>{{ offering.location.city }}</td>
                <td>
                    <ul>
                        {% for availability in offering.availabilities %}
                            <li>
                                {{ availability }}
                                {% if availability.isAvailable %}
                                <form action="{{ url_for('take_offering') }}" method="post" style="display:inline;">
                                    <input type="hidden" name="offering_id" value="{{ offering.id }}">
                                    <input type="hidden" name="time_slot" value="{{ availability.timeSlot }}">
                                    <button type="submit">Take Offering</button>
                                </form>
                                {% endif %}
                        {% endfor %}
                            </li>
                    </ul>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </body>
</html>